name: {{pubName}}
version: {{pubVersion}}
description: {{pubDescription}}
environment:
    sdk: ">=2.0.0 <3.0.0"
dependencies:
    auto_data: ^0.0.3
dev_dependencies:
    build_runner: ^1.0.0
    auto_data_generator: ^0.0.3

